<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>SlimWidgets.io</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" integrity="sha256-vK3UTo/8wHbaUn+dTQD0X6dzidqc5l7gczvH+Bnowwk=" crossorigin="anonymous" />
    </head>

    <body style="padding: 20px;">
        <div style="text-align: center; vertical-align: middle;">
            <h1 class="title">
                SlimWidgets.io
            </h1>
            <p>
                A fast, slim, safe, <a href="https://github.com/jakemakesstuff/slimwidgets.io">open-source</a> and customisable widget for Discord:
            </p>
            <br>
            <iframe src="/widget/635599394854535188" width="417" height="194" style="height: 194px; width: 417px;" allowtransparency="true" frameborder="0"></iframe>
            <br>
            <br>
            <h2 class="subtitle">
                <a href="https://discordapp.com/oauth2/authorize?client_id=635487269805097010&scope=bot&permissions=26689">Add this bot to your server to generate your widget today!</a>
            </h2>
            <hr style="background-color: black; outline-width: thick; height: 1px;">
        </div>
        <h1 class="title">
            Why should I use SafeWidgets.io?
        </h1>
        <p>There are several useful key benefits of using SafeWidgets.io:</p>
        <br>
        <ul style="list-style-type: disc; padding: 0 20px 20px;">
            <li><strong>Fast</strong> - We use Go for all the backend which gets turned into Assembly. This means that each component in this application is extremely optimised. Additionally, we call NATS which is a very fast event handler to distribute events.</li>

            <li><strong>Slim</strong> - This widget takes up less space than the Discord widget does in its default configuration.</li>

            <li><strong>Safe</strong> - The Discord widget makes the invite code easily accessable. This means that any scrapers that visit the widget can easily get a invite to your guild which is a common method of data mining. SafeWidgets.io allows you to turn off invites on the widget, and if you have them on, users have to go through a CAPTCHA to get a one time invite, preventing scraping.</li>

            <li><strong>Open-source</strong> - Every part of this service is open source <a href="https://github.com/jakemakesstuff/slimwidgets.io">on GitHub</a>!</li>

            <li><strong>Customisable</strong> - Want invites on? You can turn them on. Want a description? You can set a description. The choice is yours.</li>
        </ul>
    </body>
</html>
