<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>Join Server | {{ .GuildName }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" integrity="sha256-vK3UTo/8wHbaUn+dTQD0X6dzidqc5l7gczvH+Bnowwk=" crossorigin="anonymous" />
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    </head>

    <body style="padding: 20px; text-align: center; vertical-align: middle;">
        <h1 class="title">
            Confirm you are not a robot
        </h1>
        <p>
            To join {{ .GuildName }}, you need to confirm you are not a robot by filling out the CAPTCHA below:
        </p>
        <br/>
        <div class="g-recaptcha" style="display: inline-block;" data-sitekey="{{ .SiteKey }}" id="captcha" data-callback="captchaSubmit"></div>
        <noscript>
            <h1 class="title">You need JavaScript for this to work!</h1>
        </noscript>

        <script>
            // Handles the reCaptcha submit.
            function captchaSubmit(data) {
                window.location.replace("./" + encodeURIComponent(data));
            }
        </script>
    </body>
</html>
